---
layout: default
---

<div class="home">

    <div class="wrap wrap-pad">

    <div class="box-3">


 <h2>WELCOME ....</h2>

  <p>My name is Maria Kholi and I am excited to share my first blog!
  <p>I am a student at the Linnaeus University in Kalmar in the web programming course.</p>
        <!--Lists blog posts:-->

        <div class="catblock" id="allposts">

            {% for post in site.posts %}

            {% if post.featured %}

            {% else %}

            {% assign currentdate = post.date | date: "%Y" %}

            {% if currentdate != date %}

            {% unless forloop.first %}</ul>{% endunless %}

            <h2 id="y{{post.date | date: "%y"}}">{{ currentdate }}</h2>

                <ul>

                    {% assign date = currentdate %}

                    {% endif %}

                    <li>{{ post.date | date: "%-b %d" }}: <a href="{{ post.url }}">{{ post.title }}</a></li>

                    {% if forloop.last %}

                </ul>

            {% endif %}

            {% endif %}

            {% endfor %}

        </div>

        <br />


    </div>

        <div class="box-2">


        </div>

    </div>

</div>
